.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo {
    width: 50px;
  }
  
  .nav-profile {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-btn:hover {
    background-color: #f5f5f5;
  }
  